.Bot {
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
  width: 300px;
  margin-bottom: 15px;
}

.botHeader {
  font-family: monospace;
  font-weight: bold;
}

.completeHeader {
  font-family: monospace;
  font-weight: bold;
  color: rgb(44, 217, 41);
}

.completedTask {
  font: 18px;
  font-family: monospace;
  color: gray;
}

.eta {
  font: 20px;
  font-family: monospace;
  font-weight: bold;
}

.image {
  height: 25px;
  width: 25px;
  margin-bottom: 15px;
}

.task {
  font: 20px;
  font-family: monospace;
  font-weight: bold;
}

.task, .eta {
  display: inline;
}

.taskBody {
  margin-bottom: 10px;
}

.taskButton {
  background-color: rgb(57, 245, 54);
  border-color: "#E4F4FF";
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  font-family: monospace;
  margin-bottom: 15px;
}