.App {
  text-align: center;
}

.Bots {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.botpicker {
  justify-content: flex-end;
}

.header {
  color: black;
  font-size: 100px;
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 20px;
}

.headerImage {
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
}

.input {
  border-radius: 4px;
  height: 30px;
  font-size: 30px;
  font-family: monospace;
  margin-bottom: 20px;
}

.leaderboard {
  background-color: white;
  height: 250px;
  width: 500px;
  color: black;
  font-family: monospace;
}

.leader {
  font-size: 18px;
  font-family: monospace;
  align-content: left;
  display: flex;
}

.selector {
  font-size: 30px;
  font-family: monospace;
  width: 375px;
  margin-bottom: 20px;
  height: 40px;
}

.title {
  text-align: center;
}

.toparea {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.addButton {
  background-color: white;
  border-color: "#E4F4FF";
  border-radius: 5px;
  width: 200px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  margin-bottom: 20px;
}