.App {
  text-align: center;
}

.Bots {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.header {
  color: black;
  font-size: 125px;
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 20px;
}

.input {
  border-radius: 4px;
  height: 30px;
  font-size: 30px;
  font-family: monospace;
  margin-bottom: 20px;
}

.selector {
  font-size: 30px;
  font-family: monospace;
  width: 375px;
  margin-bottom: 20px;
  height: 40px;
}

.addButton {
  background-color: white;
  border-color: "#E4F4FF";
  border-radius: 5px;
  width: 200px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  margin-bottom: 20px;
}